name: CI

on:
  pull_request:
    branches: [ '*' ]
  push:
    branches: [ main, master ]
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at midnight UTC
  workflow_dispatch:

jobs:
  swift-format-check:
    name: Swift Format Check
    runs-on: ubuntu-latest
    container: swift:6.0

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Check code formatting
      run: |
        swift package lint-source-code

  test-macos:
    name: Build and Test (macOS)
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_16.1.app

    - name: Build
      run: swift build -v

    - name: Run tests
      run: swift test -v

  test-linux:
    name: Build and Test (Linux)
    runs-on: ubuntu-latest
    container: swift:6.0

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build
      run: swift build -v

    - name: Run tests
      run: swift test -v
